.product_imgUrl{
    height: 350px;
    width: 300px;
}
h4.display-9.fw-bold.text-body-emphasis.lh-1.mb-3{
    border-bottom:1px solid lightgray;
    padding-bottom:15px;
}


.list-group-item > img {
    height: 5vw;
    width: 5vw;
}
.product-image:hover{
    transform: scale(1.2);
}


